/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 23, 2025, 9:16:25 PM
    Author     : USER
*/
/* ===== Fondo general ===== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #004e92, #000428);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Contenedor ===== */
.contenedor-destinatario {
    background: white;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* ===== Título ===== */
.titulo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #003366;
    margin-bottom: 20px;
}

/* ===== Inputs y Labels ===== */
label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #004e92;
}

/* ===== Botón guardar ===== */
button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #004e92;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background: #003366;
}

/* ===== enlace ===== */
.volver {
    text-align: center;
    margin-top: 15px;
}

.volver a {
    color: #004e92;
    text-decoration: none;
}

.volver a:hover {
    text-decoration: underline;
}
